#ItemContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0.5px solid gray;
}

i{
    height: 30px;
    width: 30px;
    color: black;
}

#Ticks{
    width: 50px;
    border-right: 0.5px solid gray;
    border-bottom: transparent;
    border-top: transparent;
    border-left:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    size: 20px;
    background: transparent;
    cursor: pointer;
}

#title{
    width: auto;
    display: inherit;
    align-items: center;
    padding-left: 10px;
}