#ItemContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0.5px solid gray;
}

i{
    height: 30px;
    width: 30px;
    color: black;
}

#Ticks{
    width: 50px;
    border-right: 0.5px solid gray;
    border-bottom: transparent;
    border-top: transparent;
    border-left:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    size: 20px;
    background: transparent;
    cursor: pointer;
}

#titles{
    width: auto;
    display: inherit;
    align-items: center;
    padding-left: 15px;
    flex: 6;
}

#endl{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

#delete{
    display: flex;
    align-items: center;
    margin-right: 5px;
    background-color: transparent;
    border: 0.5px solid transparent;
    color: gray;
    cursor: pointer;

}