#component{
    background-color: white;
    display: flex;
    height: 70px;
    padding: 10px;
    box-shadow: 1px 3px 15px grey;
}
#component.dark{
    background-color: #1e1e1e;
}
#profile{
    display: flex;
    padding-right: 50px;
    flex:1
}
.userName{
    padding: 10px;
    color: black;
}
.userName.dark{
    color: #cce6ff;
}
#mid{
    flex: 2;
}
#searchContainer{
    background-color: transparent;
    height: 30px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-top: 10px;
    flex: 1;
    justify-content: space-between;
}

#searchbtn{
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: lime;
    border: 1px solid transparent;
    border-radius: inherit;
    cursor: pointer;
    opacity: 0.7;
    background: transparent;
}
#searchbtn.dark{
    color: #cce6ff;
}
#searchbtn:hover{
    opacity: 1;
}
#search{
    order: none;
    margin: 0;
    padding: 7px 8px 5px 5px;
    font-size: 18px;
    color: inherit;
    color: limegreen;
    width: 75%;
    height: 80%;
    border: 1px solid transparent;
    border-radius: inherit;
    background-color: transparent;
}
#search.dark{
    color: #cce6ff;
}
img{
    height: 60px;
    width: 60px;
    align-self: center;
    border-radius: 75%;
    margin-left: 10%;
}

.themebtn{
    padding: 15px;
    margin: 10px;
    margin-left: 25px;
    background-color: transparent;
    border-radius: 25px;
}

.themebtn.dark{
    border-color: white;
    color: white;
}

.newLink{
    text-decoration:none;
    margin-top: 20px;
    color: black;
    font-style: italic;
}
.newLink.dark{
    color: white;
}