#wholeContain {
    background-color: rgba(205, 204, 204, 0.592);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    overflow: scroll;
}

#wholeContain::-webkit-scrollbar {
    display: none;
}

#container{
    display: inherit;
    background-color: white;
    flex-direction: column;
    height: 70%;
    width: 70%;
    box-shadow: 5px 5px 35px grey;
    justify-content: space-between;
    border-radius: 25px;
}

label{
    font-size: 40px;
    font-family: Comic Sans MS;
    color: lime;
    padding:20px;
}

#containfooter{
    background-color: lime;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    overflow: hidden;
    border-radius: 0 0 25px 25px ;
}