#ListContainer{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    padding: 10px 0 0 0 ;
    
}

#ListContainer.dark{
    background-color: #1e1e1e;
}

#ListContainer::-webkit-scrollbar {
    display: none;
}

#doneList{
    display: flex;
    flex-direction: column;
    flex:49;
    width: 100%;
    height: fit-content;
    overflow:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: transparent;
    
}
#doneList.dark{
    background-color: #1e1e1e;
}
#gap{
    flex:1;
}
#doneList::-webkit-scrollbar {
    display: none;
}

#notDoneList{
    display: flex;
    flex-direction: column;
    flex: 49;
    width: 100%;
    margin-top: 10px;
    overflow:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 2;
    box-shadow: 1px 1px 24px grey;
}


#notDoneList::-webkit-scrollbar {
    display: none;
}

#showDone{
    color: lime;
    background-color: transparent;
    border-top: 0.5px black;
    border-left: 0.5px transparent;
    border-right: transparent;
    border-bottom: transparent;
    padding: 5px;
    cursor: pointer;
}
#showDone.dark{
    color: #4e91cf;
}

#trigger {
    color: lime;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}


#noPending {
    color: lime;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: larger;
    font-weight: bold;
    padding: 15px;
}
#noPending.dark{
    color: #4e91cf;
}
#trigger.dark{
    color: #4e91cf;
}